.index {
  padding-top: 108px;
}

.index__header {
  color: var(--dark-blue);
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 30px;
  margin-top: 46px;
}

.index__subheader {
  color: var(--gray);
  font-size: 16px;
  margin-bottom: 43px;
}

.index__btn__svg {
  bottom: 1px;
  margin-left: 10px;
  position: relative;
  vertical-align: inherit;
}

.index__info {
  color: #6c778a;
  font-size: 16px;
  font-weight: bold;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 16px;
}

.index__info:hover {
  color: #6c778a;
}

.index__details {
  margin-bottom: 44px;
  margin-top: 44px;
}

.index__details img {
  margin-bottom: 20px;
  margin-right: 20px;
}

.ua-card-index {
  box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.06);
}

.index__more {
  color: #fff;
  margin-top: 17px;
}

.index__more a,
.index__more a:hover {
  color: #fff;
}

.index__more__svg {
  margin-left: 10px;
  position: relative;
  vertical-align: inherit;
  top: 3px;
}
