.practical-box {
  border-radius: 3px;
  color: #4a4a4a;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  transition: 0.1s;
  width: 200px;
}

.practical-box.is-done:before {
  background: url(./../../../img/tik.png) no-repeat;
  background-size: 28px 28px;
  content: "";
  display: block;
  height: 28px;
  position: absolute;
  right: -14px;
  top: -14px;
  width: 28px;
  z-index: 2;
}

.practical-box:not(:last-of-type) {
  margin-right: 30px;
}

.practical-box:hover .ua-practical-box__img {
  transform: scale(1.05);
}

.ua-practical-box__img {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.07);
  color: #4a4a4a;
  cursor: pointer;
  display: inline-block;
  padding: 25px;
  position: relative;
  text-align: center;
  transition: 0.1s;
  width: 100%;
}

.ua-practical-box__sub-header {
  color: #4a4a4a;
  font-size: 21px;
  font-weight: bold;
  margin-top: 21px;
  padding: 0 16px;
  text-align: center;
}
